

<%= form_for @Author do |f| %>

	<div class="form-group">
		<%= f.label :FistName %>
		<%= f.text_field :first_name, class:'form-control'%>
	</div>

	<div class="form-group">
		<%= f.label :LastName %>
		<%= f.text_field :last_name, class:'form-control'%>
	</div>

	<div class="form-group">
		<%= f.submit "Submit" , class:'btn btn-primary' %>
		<%= link_to "Cancel", authors_index_path, class:'btn btn-warning' %>
	</div>
	
<% end %>